# Bytecode dosyaları
__pycache__/
*.py[cod]

# PyCharm klasörleri
.idea/

# Sanal ortam dosyaları
.venv/
env/
venv/

# Bağımlılıkların yüklü olduğu klasör
Lib/
Scripts/

# Log dosyaları
*.log

# Çıktı dosyaları
*.out
*.class

# MacOS için
.DS_Store

# Windows için
Thumbs.db
Desktop.ini

# Jupyter Notebook Checkpointleri
.ipynb_checkpoints/

# Git'in izlememesi gereken diğer dosyalar
*.sqlite3
*.env
*.cfg
